{% extends 'UnleashedShortenUrlBundle::layout.html.twig' %}

{% block js %}
    {{ parent() }}
    <script>
        $('#shorten-my-url').on('submit', function(evt){
            $('#submit').attr('disabled', 'disabled').val('Please Wait...');
            return;
        });
    </script>
{% endblock %}

{% block content %}
    
    <div class="main">
        <form id="shorten-my-url" action="{{ path('unleashed_homepage') }}" method="post">
            <h1><span>Shorten</span> <lable> Url </lable> </h1>
            <div class="inset">
                <p>
                    <input type="text" id="url" name="url" placeholder="Shorten Your Url..." required/>
                </p>
            </div>

            <div>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                
                <p class="p-container">
                    <input id="submit" type="submit" value="Submit">
                </p>
            </div>
        </form>
    </div>
    
    
    
{% endblock %}