{% extends 'UnleashedShortenUrlBundle::layout.html.twig' %}

{% block content %}
    
    <div>
        <form>
    		<h1><span>Shorten</span> <lable> Url </lable> </h1>
  			<div class="inset">
	  			<p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" id="" name="" placeholder="Shorten Your Url" required/>
				</p>
 			 </div>
 	 
			  <p class="p-container">
			    <input type="submit" value="Login">
			  </p>
		</form>
    </div>
    
{% endblock %}