{% extends 'UnleashedShortenUrlBundle::layout.html.twig' %}

{% block content %}
    
    <div>
        <div>
            <span>Url: {{ data.url.urlCode }}</span>
        </div>
        <div>
            <span>Link: {{ data.url.fullUrl }}</span>
        </div>
        <div>
            <span>Date: {{ data.url.dateAdded|date('Y-m-d') }}</span>
        </div>
    </div>
    
{% endblock %}